<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Recog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient, Version=2.7.0.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <Recog.Properties.Settings>
      <setting name="ServerType" serializeAs="String">
        <value>Embedded</value>
      </setting>
      <setting name="ServerIP" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="pBaseAlias" serializeAs="String">
        <value>pBase</value>
      </setting>
      <setting name="fBaseAlias" serializeAs="String">
        <value>fBase</value>
      </setting>
      <setting name="AllowViews" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Pass" serializeAs="String">
        <value>1259</value>
      </setting>
    </Recog.Properties.Settings>
  </userSettings>
</configuration>